<div>
  <form>
      <input type="text" id="idProucto" placeholder="Ingrese Nuevo ID...">
      <input type="text" id="nombreProducto" placeholder="Ingrese nombre...">
      <button id="send">Agregar</button>
  </form>
</div>
<div>
  <h1>Listado de Productos</h1>
  <p></p>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/realTimeProducts.js"></script>